/* Header */
header {
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 1;
}

#header-img {
  height: 30px;
  width: 30px;
  display: inline-block;
  float: right;
}
#header-img {
  background-image: url('../img/github.svg');
  background-size: contain;
  transition: 0.2s
}
#header-img:hover{
  background-image: url('../img/github_hover.svg');
}

/* Navigation */
nav {
  position: fixed;
  font-family: GaramondMed;
  letter-spacing: 1px;
  background-color: #2D3F5C;
  padding: 0;
  margin: 0;
  width: 10vw;
  height: 100%;
}
nav ul {
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}
nav ul li {
  /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%); */
  display: block;
  font-size: 20pt;
  padding: 0 3%;
  border-bottom: 5px solid #A6F075;
  transition: 0.2s;
}
nav ul li a {
  color: #EFEEEE;
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 0;
}
nav ul li:hover {
  background-color: #BE3CD9;
}
nav ul li.active {
  background-color: #390C42;
}
