/* COLORS
 * #75A6F0
 * #2D3F5C
 * #A6F075
 * #F075A6
 * #21262D
 * #EFEEEE
*/

/* Main Style */
body {
  background-color: #21262D;
  color: #EFEEEE;
  font-size: 14pt;
  padding: 0;
  margin: 0;
}
a {
  color: #EFEEEE;
}

/* Header */
header {
  padding: 20px;
  font-family: monospace;
  color: #21262D;
}
header .shell-line {
  clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0 100%);
  padding: 0.2em 1.5em 0.2em 0.5em;
  display: inline-block;
  background-color: #75A6F0;
}
header .shell-branch {
  clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0 100%, 1em 50%);
  transform: translate(-1.5em, 0);
  padding: 0.2em 1.5em 0.2em 1.5em;
  display: inline-block;
  background-color: #A6F075;
}
header .shell-cursor {
  padding: 0.1em 0.1em;
  transform: translate(-1.5em, 0);
  display: inline-block;
  background-color: #A6F075;
  color: #21262D;
  animation: cursorBlink 1.5s step-start 0s infinite;
}

/* Navigation */
nav {
background-color: #75A6F0;
padding: 0;
margin: 0;
}
nav ul {
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}
nav ul li {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  display: inline-block;
  font-size: 20pt;
  padding: 0 3%;
  width: 15%;
  border-bottom: 5px solid #A6F075;
}
nav ul li a {
  color: #21262D;
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 0;
}
nav ul li:hover {
  background-color: #F075A6;
}
nav ul li.active {
  background-color: #A6F075;
}

/* Main controls */
.page {
  display: none;
}
.page:target {
  display: block;
}
.page {
  margin: 20px 10px;
}

/* Photos/projects */
.tiled-list {
  list-style: none;
}
.tiled-list li {
  display: inline-block;
  border-bottom: 5px solid #EFEEEE;
  padding: 1% 6%;
  background-color: #2D3F5C;
  width: 35%;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}

@keyframes cursorBlink {
  50% {
    background-color: #21262D;
    color: #EFEEEE;
  }
}
