/* COLORS
 * #75A6F0
 * #A6F075
 * #F075A6
 * #21262D
 * #EFEEEE
*/

/* Main Style */
body {
  background-color: #21262D;
  color: #EFEEEE;
  font-size: 14pt;
  padding: 0;
  margin: 0;
}

/* Header */
header {
  /*background-image: url('../img/header.jpg');
  background-size: contain;*/
  padding: 20px;
}
header h1 {
  margin: 0;
}

/* Navigation */
nav {
background-color: #75A6F0;
padding: 0;
margin: 0;
}
nav ul {
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}
nav ul li {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  display: inline-block;
  font-size: 20pt;
  padding: 0 3%;
  width: 15%;
  border-bottom: 5px solid #A6F075;
}
nav ul li a {
  color: #21262D;
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 0;
}
nav ul li:hover {
  background-color: #F075A6;
}
nav ul li.active {
  background-color: #A6F075;
}

/* Main controls */
.page {
  display: none;
}
.page:target {
  display: block;
}
.page {
  margin: 20px 10px;
}

/* Photos */
.photo-list {
  list-style: none;
}
.album {
  width: 25% !important;
}
.test {
  width: 25%;
  height: 45px;
  background-color: #0F0;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}
