{% extends "base.jinja" %}
{% block title %}
about
{% endblock %}

{% block header %}
<div class="relative font-mono">
  <div class="absolute top-0 right-0 m-4 z-10">
    {# https://blog.logrocket.com/building-responsive-navbar-tailwind-css/ #}
    <svg xmlns="<http://www.w3.org/2000/svg>" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>
  <div class="absolute bottom-0 left-0 md:max-w-2xl m-4 xl:ml-44">
    <div id="not-menu">
      <p class="text-4xl my-4"><a href="/"><strong>bridger</strong> herman</a></p>
      <p>extended reality visualization + data physicalization + creativity support tools</p>
    </div>
    {# <div class="
      hidden absolute w-full bg-gray-950 
      max-md:right-0 max-md:top-0 md:left-0 md:bottom-0
      md:flex md:w-auto md:bg-transparent
      xl:ml-44"
      id="menu"> #}
    <div class="hidden my-4 rounded-md bg-gray-950 md:block md:bg-transparent" id="menu">
      <nav>
        <ul class="flex flex-col place-content-between md:flex-row">
        {{ navButton('curriculum vitae', '#') }}
        {{ navButton('publications', '#') }}
        {{ navButton('adventures', '#') }}
        </ul>
      </nav>
    </div>
    {# </div> #}
  </div>
  <img src="/build/img/header_2048.jpg" alt="Bridger Herman standing in front of a sunset"
    class="w-full max-h-[45vh] object-cover object-right" />
</div>
{% endblock %}

{% block body %}


{{par("
Hey, I'm Bridger, a Ph.D. Candidate in Computer Science at the University of
Minnesota.
")}}


{{par("
I'm currently on the job market seeking a research-oriented position in the
extended reality field. Send me an (email) to get in touch!
")}}


{{par("
My current work bridges the gap between physical and digital spaces using a
combination of extended reality and digital fabrication technologies.
Specifically, I build creative extended reality visualization solutions to make
multivariate spatial or spatiotemporal data more graspable: both more
comprehensible and more tactile.
")}}


{{par("
Besides my research, I have a passion for teaching. In my graduate career, I've
been an instructor and co-instructor for multiple classes, and have been a
teaching assistant most other semesters. Now more than ever, it's important for
individuals to be informed about the inner computational workings of the
technologies our society depends on.
")}}


{{par("
When I'm not in the lab or teaching, you can usually find me adventuring
outside. I enjoy running, cycling, hiking, skiing, rock climbing, and many other
outdoor activities. I have also volunteered for the (Minnesota Brass) drum corps
as a board member, percussion instructor, and transportation coordinator.
")}}


{{par("
Check out some of my work below!
")}}

{{ h2("Research Themes") }}

<img class="w-full" src="/assets/svg/research-overview-optimized.svg" />

<ul class="my-10 flex flex-col place-content-around md:flex-row font-mono">
  {{ navButton('curriculum vitae', '#') }}
  {{ navButton('publications', '#') }}
  {{ navButton('adventures', '#') }}
</ul>
{% endblock %}