{% extends "base.jinja" %}
{% block title %}
about
{% endblock %}

{% block header %}
<img 
  src="/build/img/header_2048.jpg"
  alt="Bridger Herman standing in front of a sunset"
  class="w-full max-h-[40rem] object-cover"
/>
{% endblock %}

{% block body %}


{{par("
Hey, I'm Bridger, a Ph.D. Candidate in Computer Science at the University of
Minnesota.
")}}


{{par("
I'm currently on the job market seeking a research-oriented position in the
extended reality field. Send me an (email) to get in touch!
")}}


{{par("
My current work bridges the gap between physical and digital spaces using a
combination of extended reality and digital fabrication technologies.
Specifically, I build creative extended reality visualization solutions to make
multivariate spatial or spatiotemporal data more graspable: both more
comprehensible and more tactile.
")}}


{{par("
Besides my research, I have a passion for teaching. In my graduate career, I've
been an instructor and co-instructor for multiple classes, and have been a
teaching assistant most other semesters. Now more than ever, it's important for
individuals to be informed about the inner computational workings of the
technologies our society depends on.
")}}


{{par("
When I'm not in the lab or teaching, you can usually find me adventuring
outside. I enjoy running, cycling, hiking, skiing, rock climbing, and many other
outdoor activities. I have also volunteered for the (Minnesota Brass) drum corps
as a board member, percussion instructor, and transportation coordinator.
")}}


{{par("
Keep reading to check out some of my work!
")}}
{% endblock %}
