{% extends "base.jinja" %}

{% block title %}
about
{% endblock %}

{% block header %}
{# Custom header for main about page #}
<div class="relative font-mono">
  {{ hamburgerButton() }}
  <div class="
  absolute bottom-0 left-0 w-full p-4 xl:pl-44
  bg-gradient-to-b from-transparent from-50% to-gray-900
  ">
    <div id="not-menu" class="md:max-w-2xl">
      <p class="text-4xl my-4"><a class="no-underline" href="/"><strong>bridger</strong> herman</a></p>
      <p>extended reality visualization + <br class="sm:hidden"> data physicalization + <br class="sm:hidden"> creativity support tools</p>
    </div>
    {{ navbar(true) }}
    <div class="m-1 md:max-w-2xl flex">
      <a title="copy email address to clipboard" class="copy-email m-1 w-6 h-6" href="#">
        <span class="material-symbols-outlined">mail</span>
      </a>
      <a class="m-1 w-6 h-6" title="curriculum vitae" href="#">
        <span class="material-symbols-outlined">description</span>
      </a>
      <a class="m-1 w-6 h-6" title="GitHub: bridger-herman" href="https://github.com/bridger-herman">
        <img src="/assets/svg/github-mark-white.svg" alt="GitHub logo">
      </a>
    </div>
  </div>
  <img src="/build/img/header_1920.jpg" alt="Bridger Herman standing in front of a sunset"
    class="w-full min-h-[55vh] sm:max-h-[45vh] object-cover object-right" />
</div>
{% endblock %}

{% block body %}

<div class="{{ textWidthParams }}">
{{par("
Hey, I'm Bridger, a Ph.D. Candidate in the <a href='https://ivlab.cs.umn.edu'>Interactive Visualization Lab</a> at the
University of
Minnesota with Dr. <a href='https://www.danielkeefe.net/'>Daniel F. Keefe</a>.
")}}


{{par("
I'm currently on the job market seeking a research-oriented position in the
extended reality field. Send me an <a href='#' class='copy-email'>email</a> to get in touch!
")}}


{{par("
My current work bridges the gap between physical and digital spaces using a
combination of extended reality and digital fabrication technologies.
Specifically, I build creative extended reality visualization solutions to make
multivariate spatial or spatiotemporal data more graspable: both more
comprehensible and more tactile.
")}}


{{par("
Besides my research, I have a passion for teaching. In my graduate career, I've
been an instructor and co-instructor for multiple classes, and have been a
teaching assistant most other semesters. Now more than ever, it's important for
individuals to be informed about the inner computational workings of the
technologies our society depends on.
")}}


{{par("
When I'm not in the lab or teaching, you can usually find me adventuring
outside. I enjoy running, cycling, hiking, skiing, rock climbing, and many other
outdoor activities. I have also volunteered for the <a href='https://mnbrass.org'>Minnesota Brass</a> drum corps
as a board member, percussion instructor, and transportation coordinator.
")}}


{{par("
Check out some of my work below!
")}}

{{ h2("Research Themes") }}

{# <img class="w-full" src="/assets/svg/research-overview-optimized.svg" /> #}

<div class="flex flex-wrap justify-center m-auto max-w-screen-md">
  <a href="#">
    <div class="w-fit my-4 mx-2 hover:brightness-125">
      {% include "svg/research-overview-xr-opt.svg" %}
    </div>
  </a>

  <a href="#">
    <div class="w-fit my-4 mx-2 hover:brightness-125">
      {% include "svg/research-overview-phys-opt.svg" %}
    </div>
  </a>

  <a href="#">
    <div class="w-fit my-4 mx-2 hover:brightness-125">
      {% include "svg/research-overview-cave-opt.svg" %}
    </div>
  </a>
</div>

<ul class="my-10 flex flex-col place-content-around md:flex-row font-mono">
  {{ navButton('curriculum vitae', 'cv.html') }}
  {{ navButton('publications', '#') }}
  {{ navButton('adventures', '#') }}
</ul>
</div>
{% endblock %}