{% extends "base.jinja" %}

{% macro project(title, description, link, photo, photo_alt) %}
<div class="m-2 flex flex-col md:flex-row bg-gray-700 rounded-md">
    <div class="w-11/12 my-2 mx-auto md:m-2 md:w-1/4 md:mr-4">
        <img class="w-full max-h-44 m-auto object-cover object-top rounded-md" src="{{ photo }}" alt="{{ photo_alt }}">
    </div>
    <div class="w-11/12 my-2 mx-auto md:m-2 md:w-3/4">
        <a class="" href="{{ link }}">
            <p><strong>{{ title }}</strong></p>
        </a>
        <p>{{ description }}</p>
    </div>
</div>
{% endmacro %}

{% macro featuredPub(title, titleLink, imgLink, authors, venue, pageOrPublisher, abstract, id) %}
<div class="m-2 bg-gray-700 rounded-md">
    <p class="py-2 mx-4"><em>Featured Publication:</em></p>
    <div class="flex flex-col md:flex-row">

        <div class="w-11/12 my-2 mx-auto md:m-2 md:w-1/4 md:mr-4">
            <img class="w-full max-h-44 m-auto object-cover object-top rounded-md" src="{{ imgLink }}" alt="">
        </div>

        <div class="w-11/12 my-2 mx-auto md:m-2 md:w-3/4">
            {% if titleLink|length > 0 %}
            <p><strong><a href="{{ titleLink }}">{{ title }}</a></strong></p>
            {% else %}
            <p><strong>{{ title }}</strong></p>
            {% endif %}

            {% for author in authors %}
            {% set comma = '' %}
            {% if loop.revindex0 != 0 %}
            {% set comma = ',' %}
            {% endif %}
            {% if author == 'Bridger Herman' %}
            <strong><span>{{ author }}{{ comma }}</span></strong>
            {% else %}
            <span>{{ author }}{{ comma }}</span>
            {% endif %}
            {% endfor %}

            {% if venue|length > 0 %}
            <p><em>{{ venue }}</em>, {{ pageOrPublisher }}</p>
            {% endif %}

            <div class="expander relative h-24 mt-4 overflow-hidden" id="{{ id }}">
                <p class=""><em>Abstract:</em> {{ abstract }}</p>
                <div
                    class="fader absolute flex flex-col bottom-0 w-full h-16 justify-end content-center bg-gradient-to-b from-transparent to-gray-700">
                    <p class="expand-link text-center cursor-pointer underline">Read more...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% block title %}
adventures
{% endblock %}

{% block body %}
<div class="{{ textWidthParams }} flex flex-col">
    <img class="rounded-b-md" src="/img/cave_1680.jpg" />

    {{ h2('Research') }}

    <div>
        {{ par("
        My research evolves at the intersection of physical and digital spaces for
        exploring data: I examine new approaches to extended reality visualization that
        use physical rendering processes to make data more graspable: both more
        comprehensible and more tactile.

        Current extended reality visualizations enable new data insights and
        better comprehension during scientific sensemaking processes, but they lack the physical
        tactility that has been crucial to past scientific breakthroughs, and current data
        physicalizations have this tactility yet lack in interactivity required for today's scientific
        sensemaking processes.

        Additionally, creativity support tools can help empower artists and
        designers to create data visualizations with physical media from the
        real world. Software I developed in collaboration with artists has been
        <a href='https://doi.org/10.1063/PT.3.4722'>featured in <em>Physics
        Today</em> magazine</a>, and continues to be used as a teaching tool in
        courses at the University of Minnesota.

        Ultimately, I explore new ways to combine the tactility
        of data physicalization and the comprehensibility of extended reality visualization to
        achieve more graspable data using physical rendering processes.
        ") }}

        {{ h3('Extended Reality Visualization', 'extended-reality-visualization')}}

        {{ featuredPub(
        'Multi-Touch Querying on Data Physicalizations in Immersive AR',
        'https://dl.acm.org/doi/10.1145/3488542',
        '/assets/img/pubs/multi-touch.jpg',
        ['Bridger Herman', 'Maxwell Omdal', 'Stephanie Zeller', 'Clara A. Richter', 'Greg Abram', 'Francesca Samsel',
        'Daniel F. Keefe'],
        'Proceedings on Human Computer Interaction',
        'ACM Interactive Surfaces and Spaces, 2021',
        'Data physicalizations (3D printed terrain models, anatomical scans, or even
        abstract data) can naturally engage both the visual and haptic senses in ways
        that are difficult or impossible to do with traditional planar touch screens and
        even immersive digital displays. Yet, the rigid 3D physicalizations produced
        with today\'s most common 3D printers are fundamentally limited for data
        exploration and querying tasks that require dynamic input (e.g., touch sensing)
        and output (e.g., animation), functions that are easily handled with digital
        displays. We introduce a novel style of hybrid virtual + physical visualization
        designed specifically to support interactive data exploration tasks. Working
        toward a \"best of both worlds\" solution, our approach fuses immersive AR,
        physical 3D data printouts, and touch sensing through the physicalization. We
        demonstrate that this solution can support three of the most common spatial data
        querying interactions used in scientific visualization (streamline seeding,
        dynamic cutting places, and world-in-miniature visualization). Finally, we
        present quantitative performance data and describe a first application to
        exploratory visualization of an actively studied supercomputer climate
        simulation data with feedback from domain scientists.', 'multi-touch'
        )}}

        <figure class="mx-auto w-11/12">
            <img class="rounded-md" src="/img/xr-vis_1680.jpg" />
            <figcaption class="mx-4 mb-4">
                Extended reality (XR) visualization, including augmented (AR)
                and virtual reality (VR) visualizations, enables data
                stakeholders to better comprehend 3D spatial data.
            </figcaption>
        </figure>

        {{ h3('Creativity Support Tools', 'creativity-support-tools')}}

        {{ featuredPub(
        'Printmaking, Puzzles, and Studio Closets: Using Artistic Metaphors to Reimagine the User Interface for
        Designing Immersive Visualizations',
        'https://doi.org/10.1109/VISAP51628.2020.00009',
        '/assets/img/pubs/printmaking.png',
        ['Bridger Herman', 'Francesca Samsel', 'Seth Johnson', 'Annie Bares', 'Greg Abram', 'Daniel F. Keefe'],
        'Transactions on Visualization and Computer Graphics',
        'IEEE VIS Arts Program, 2020',
        "We, as a society, need artists to help us interpret and explain science, but
        what does an artist's studio look like when today's science is built upon the
        language of large, increasingly complex data? This paper presents a data
        visualization design interface that lifts the barriers for artists to engage
        with actively studied, 3D multivariate datasets. To accomplish this, the
        interface must weave together the need for creative artistic processes and the
        challenging constraints of real-time, data-driven 3D computer graphics. The
        result is an interface for a technical process, but technical in the way
        artistic printmaking is technical, not in the sense of computer scripting and
        programming. Using metaphor, computer graphics algorithms and shader program
        parameters are reimagined as tools in an artist's printmaking studio. These
        artistic metaphors and language are merged with a puzzle-piece approach to
        visual programming and matching iconography. Finally, artists access the
        interface using a web browser, making it possible to design immersive
        multivariate data visualizations that can be displayed in VR and AR environments
        using familiar drawing tablets and touch screens. We report on insights from the
        interdisciplinary design of the interface and early feedback from artists.", 'printmaking'
        )}}

        <figure class="mx-auto w-11/12">
            <img class="rounded-md" src="/img/physics-today_1680.jpg" />
            <figcaption class="mx-4 mb-4">
                Visualizations can be more effective to domain science audiences
                <em>and</em> more engaging to the general public when they're
                created by artists. The above image of mixing antarctic water masses is from a <em>Physics
                Today</em> cover story:
                <a
                    href="https://pubs.aip.org/physicstoday/article/74/4/24/398927/Mingling-art-and-science-opens-mindsCollaborations">
                    Mingling art and science opens minds</a>.
                The visualization was created by artist Francesca Samsel with the
                <a href="https://doi.org/10.1109/TVCG.2019.2934260">Artifact-Based Rendering</a> software which I substantially developed.
            </figcaption>
        </figure>


        {{ h3('Data Physicalization', 'data-physicalization')}}
    
        {{ featuredPub(
        'Touching the Ground: Evaluating the Effectiveness of Data Physicalizations for Spatial Data Analysis Tasks',
        'https://doi.org/10.1109/TVCG.2024.3456377',
        '/assets/img/pubs/touching-the-ground.png',
        ['Bridger Herman', 'Cullen D. Jackson', 'Daniel F. Keefe'],
        'Transactions on Visualization and Computer Graphics',
        'IEEE VIS Full Papers 2024. Best Paper Honorable Mention Award (top 3% of submissions).',
        'Inspired by recent advances in digital fabrication, artists and scientists have
demonstrated that physical data encodings (i.e., data physicalizations) can
increase engagement with data, foster collaboration, and in some cases, improve
data legibility and analysis relative to digital alternatives. However, prior
empirical studies have only investigated abstract data encoded in physical form
(e.g., laser cut bar charts) and not continuously sampled spatial data fields
relevant to climate and medical science (e.g., heights, temperatures, densities,
and velocities sampled on a spatial grid). This paper presents the design and
results of the first study to characterize human performance in 3D spatial data
analysis tasks across analogous physical and digital visualizations.
Participants analyzed continuous spatial elevation data with three visualization
modalities: (1) 2D digital visualization; (2) perspective-tracked, stereoscopic
"fishtank" virtual reality; and (3) 3D printed data physicalization. Their tasks
included tracing paths downhill, looking up spatial locations and comparing
their relative heights, and identifying and reporting the minimum and maximum
heights within certain spatial regions. As hypothesized, in most cases,
participants performed the tasks just as well or better in the physical modality
(based on time and error metrics). Additional results include an analysis of
open-ended feedback from participants and discussion of implications for further
research on the value of data physicalization. All data and supplemental
materials are available at https://osf.io/7xdq4/.', 'touching-the-ground'
        )}}

        <figure class="mx-auto w-11/12">
            <img class="rounded-md" src="/img/phys_1680.jpg" />
            <figcaption class="mx-4 mb-4">
                <a href="https://dataphys.org">Data physicalizations</a> enable
                us to use multisensory perception to better comprehend data.
            </figcaption>
        </figure>

    </div>

    {{ h2('Teaching') }}

    <div>
        {{ par('
        I am passionate about making computer science topics accessible for a
        wide variety of audiences.

        Three core teaching philosophies center my process: (1) hands-on
        learning, (2) consistent communication, and (3) flexibility and
        kindness.

        Throughout my teaching experiences in classes ranging from 10 to 150
        students at various undergraduate and graduate levels, I continue to
        build and improve my courses based on these philosophies. Please see the
        <a href="./teaching.html">teaching</a> page for more information.
        ') }}
        
        <!--
        {{ h3('Current Courses') }}
        <div>
            {{ project('CS111 - Introduction to Computer Science', 'Fall 2024, Carleton College', 'https://bridger-herman.github.io/class/f24-cs111', '/assets/img/carleton.png')}}
            {{ project('CS208 - Introduction to Computer Systems', 'Fall 2024, Carleton College', 'https://bridger-herman.github.io/class/f24-cs208', '/assets/img/carleton.png')}}
        </div>
        
        {{ h3('Upcoming Courses') }}
        <div>
            {{ project('CS208 - Introduction to Computer Systems', 'Winter 2025, Carleton College', 'https://bridger-herman.github.io/', '/assets/img/carleton.png')}}
            {{ project('CS314 - Data Visualization', 'Winter 2025, Carleton College', 'https://bridger-herman.github.io/', '/assets/img/carleton.png')}}
            {{ project('CS111 - Introduction to Computer Science', 'Spring 2025, Carleton College', 'https://bridger-herman.github.io', '/assets/img/carleton.png')}}
            {{ project('CS251 - Programming Languages', 'Spring 2025, Carleton College', 'https://bridger-herman.github.io', '/assets/img/carleton.png')}}
        </div>

        {{ h3('Previously Taught Courses') }}
        <div>
            {{ project('Co-Instructor - CSCI 5609: Visualization', 'Spring 2022:
            Co-Instructor<br>75 Students<br>University of Minnesota', '', '/assets/img/csci-5609.png')}}
            {{ project('Instructor - CSCI 1133: Introduction to Computing and Programming
            Concepts', 'Fall 2020: Instructor<br>40 Students<br>University of Minnesota', '',
            '/assets/img/csci-1133-instr.png')}}
            {{ project('Teaching Assistant - CSCI 4611: Programming Interactive Computer Graphics and Games', 'Fall 2019, Fall 2021 - Fall
            2023<br>150 Students<br>University of Minnesota', '', '/assets/img/csci-4611.png')}}
            {{ project('Teaching Assistant - CSCI 5619: Virtual Reality and 3D Interaction', 'Fall
            2018<br>75 Students<br>University of Minnesota', '', '/assets/img/csci-5619.png')}}
        </div>

        {{ h3('Other Teaching Experience') }}
        <div>
            {{ project('CSCI 1133: Introduction to Computing and Programming
            Concepts', 'Undergraduate Teaching Assistant<br>Fall 2015 - Spring
            2018<br>University of Minnesota', '',
            '/assets/img/csci-1133.png')}}

            {{ project('Minnesota Brass Indoor Drumline', 'Percussion Instructor
            and Audio Engineer<br>2018 - 2023', 'https://mnbrass.org',
            '/img/mbi_480.jpg')}}
        </div>
        -->
    </div>

    {{ h2('Professional Experience') }}

    <div>
        {{ par("
        In my professional experience, I seek diverse teams that are dedicated to
        advancing the state of computing to deliver more deliberate and thoughtful
        interactions between humans, computers, and data.
        ")}}

        {{ project('Abbott Laboratories', 'R&D Engineer - Human Factors<br>Extended
        reality development for medical device applications<br>Summer 2022', 'https://www.abbott.com/',
        '/img/abbott-logo2_480.png')}}

        {{ project('Bitwise IO', 'Software development intern<br>Summer 2018', 'https://bitwise.io/',
        '/assets/img/bitwise-logo.svg')}}
    </div>

    {{ h2('Projects') }}
    <div>
        {{ project(
        'LED Foot',
        'Hardware and software for RGB LEDs to improve quality-of-life
        during the winter months by providing atmospheric and
        reactive
        lighting effects to a living space.',
        'https://github.com/bridger-herman/led-foot',
        '/img/leds_480.jpg',
        'A room with purple RGB LED lighting'
        )}}

        {{ project(
        'Volumetric Lighting',
        'Artist-driven volumetric lighting for a custom 3D in-browser game engine written in Rust.',
        'https://bridger-herman.github.io/project-writeups/project-volumetric.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-volumetric/overview.png',
        'Recreation of a Klingon chamber with volumetric lighting'
        )}}

        {{ project(
        'Ray Tracer',
        'CPU Ray Tracer written in Rust. Also compiled to WebAssembly and available <a
            href="https://bridger-herman.github.io/wasm-raytracer">on GitHub</a>.',
        'https://bridger-herman.github.io/project-writeups/project-raytracing.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-raytracer/img/hw3/gear.bmp',
        'Ray traced image of a gear'
        )}}

        {{ project(
        'Real-Time Sound Propagation',
        'Real-time engine to simulate propagation of sound throughout virtual spaces, written in C++.',
        'https://bridger-herman.github.io/project-writeups/project-sound-prop.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-sound-prop/living_room.jpg',
        'Piano in a room'
        )}}

        {{ project(
        'Scriptable Game',
        'Scriptable 3D game engine for browsers, written in Rust and JavaScript.',
        'https://bridger-herman.github.io/project-writeups/project-scriptable.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-scriptable-game/overview.png',
        'Scriptable Colorku Sudoku board game'
        )}}

        {{ project(
        '2D Game Framework',
        'A simple 2D component-based game framework for browsers, written on top of p5.js.',
        'https://bridger-herman.github.io/project-writeups/project-2dgame.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-2dgame/overview.png',
        '2D game with Star Trek battle'
        )}}

        {{ project(
        'Deferred Rendering Engine',
        'A second attempt at a graphics engine in Rust, including a comparison of
        forward, deferred, and deferred + light volumes rendering
        techniques.',
        'https://bridger-herman.github.io/project-writeups/project-deferred.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-deferred/menger-screenshot.png',
        '10000 menger sponges with 10000 lights'
        )}}

        {{ project(
        'Maze Game',
        'Maze game with raw OpenGL, including a first attempt at a graphics framework in Rust.',
        'https://bridger-herman.github.io/project-writeups/project-simple-game.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-simple-game/img/multi-doors.png',
        'Doors with a key to open them'
        )}}

        {{ project(
        'Multi-Agent Motion Planning',
        '3D multi-agent motion planning, including A* search, a probabilistic road map, and boids algorithm, written in
        C++.',
        'https://bridger-herman.github.io/project-writeups/project-planning.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-planning/agents_navigating.png',
        'Boids navigation'
        )}}

        {{ project(
        'Cloth Simulation',
        'Cloth simulation, including rigid bodies, written in C++',
        'https://bridger-herman.github.io/project-writeups/project-cloth.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-cloth/flag.png',
        'Flag simulation'
        )}}

        {{ project(
        'Particle System',
        'Particle system simulation written in C++',
        'https://bridger-herman.github.io/project-writeups/project-particles.html',
        'https://bridger-herman.github.io/project-writeups/assets/project-particles/all_particles.jpg',
        'Particle systems'
        )}}

    </div>

    {{ h2('Photography') }}
    <div>
        {{ project(
        'Western U.S.',
        'Western United States, including Utah, Nevada, California, Arizona, and
        New Mexico.',
        'https://www.flickr.com/photos/151555891@N05/albums/72177720295839048',
        '/assets/img/west2021.jpg',
        ''
        )}}

        {{ project(
        'Rochester, NY',
        'Rochester, New York.',
        'https://www.flickr.com/photos/151555891@N05/albums/72157715325795357',
        '/assets/img/rochester_ny2020.jpg',
        ''
        )}}

        {{ project(
        'Vancouver',
        'Vancouver in October for the IEEE VIS conference',
        'https://www.flickr.com/photos/151555891@N05/albums/72157715325710252',
        '/assets/img/vancouver2019.jpg',
        ''
        )}}

        {{ project(
        'Minnesota\'s North Shore',
        'Photos from over the years on the North Shore of Minnesota',
        'https://www.flickr.com/photos/151555891@N05/albums/72157715323989596',
        '/assets/img/north_shore.jpg',
        ''
        )}}

        {{ project(
        'Germany',
        'Photos from Germany, taken during the IEEE VIS conference',
        'https://www.flickr.com/photos/151555891@N05/albums/72157708827649293',
        '/assets/img/germany2018.jpg',
        ''
        )}}

        {{ project(
        'New Zealand',
        'Photos taken during a study abroad experience in New Zealand',
        'https://www.flickr.com/photos/151555891@N05/albums/72157687607956566',
        '/assets/img/nz2017.jpg',
        ''
        )}}

        {{ project(
        'One City // Many Sunsets',
        ' Sunsets over the city of Minneapolis ',
        'https://www.flickr.com/photos/151555891@N05/albums/72157688640905024',
        '/assets/img/one-city.jpg',
        ''
        )}}
    </div>
</div>
{% endblock %}