<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} | bridger</title>
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/tty.css">
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>

<header>
  <div class="tty" tabindex="0"></div>
  <a href="https://github.com/bridger-herman">
    <div id="header-img"></div>
  </a>
</header>
<nav>
  <ul>
    <li> <a href="/build/about.html">about</a></li>
    <li> <a href="/build/projects.html">projects</a></li>
    <li> <a href="/build/research.html">research</a></li>
    <li> <a href="/build/photography.html">photography</a></li>
  </ul>
</nav>

{% block body %}
{% endblock %}
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript" src="/assets/js/tools.js"></script>
<script type="text/javascript" src="/assets/js/tty.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>
