<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} | bridger</title>
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/tty.css">
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>

<header>
  <div class="tty" tabindex="0"></div>
</header>
  <nav>
    <ul>
      <li><a href="/build/about.html">
          <img src="/assets/img/nav/about.svg" alt="about">
      </a></li>
      <li> <a href="/build/projects.html">
          <img src="/assets/img/nav/projects.svg" alt="projects">
      </a></li>
      <li> <a href="/build/research.html">
          <img src="/assets/img/nav/research.svg" alt="research">
      </a></li>
      <li> <a href="/build/photography.html">
          <img src="/assets/img/nav/photography.svg" alt="photography">
      </a></li>
      <li><a href="https://github.com/bridger-herman">
          <img src="/assets/img/nav/github.svg" alt="github">
      </a> </li>
    </ul>
  </nav>

<div class="main-content">
{% block body %}
{% endblock %}
</div>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script type="module" src="/assets/js/index.js"></script>
</body>
</html>
