{% extends "base.jinja" %}

{% block title %}
cv
{% endblock %}

{% block body %}
<object class="w-[90%] h-[80vh] bg-white m-auto" data="/assets/cv.pdf" type="application/pdf">
Whoops, your browser doesn't support loading PDFs. Try <a
href="/assets/cv.pdf">downloading</a> it instead.
</object>
{% endblock %}
