{% extends "base.jinja" %}
{% block title %}
photography
{% endblock %}

{% block body %}
<ul class="tiled-list">
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157687607956566">
      <h2>New Zealand 2017</h2>
      <img src="/assets/img/nz2017.jpg" alt="New Zealand 2017 Album"/>
    </a>
    <p>
      From February 2017 to July 2017, I studied abroad at the University
      of Auckland, in New Zealand. This album contains some of the
      pictures I took while I was there.
    </p>
  </li>
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157688640905024">
      <h2>One City // Many Sunsets</h2>
      <img src="/assets/img/one-city.jpg" alt="One City, Many Sunsets"/>
    </a>
    <p>
      Sunsets over the city of Minneapolis
    </p>
  </li>
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157687804745111">
      <h2>2016</h2>
      <img src="/assets/img/2016.jpg" alt="2016"/>
    </a>
    <p>
      Images from the year 2016
    </p>
  </li>
</ul>
{% endblock %}

