{% extends "base.jinja" %}
{% block title %}
photography
{% endblock %}

{% block body %}
<ul class="tiled-list">
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157708827649293">
      <h2>Germany 2018</h2>
      <img src="/assets/img/germany2018.jpg" alt="Germany 2018 Album"/>
    </a>
    <p>
      Photos from Germany, taken during the IEEE VIS 2018 conference
    </p>
  </li>
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157687607956566">
      <h2>New Zealand 2017</h2>
      <img src="/assets/img/nz2017.jpg" alt="New Zealand 2017 Album"/>
    </a>
    <p>
      Photos taken during a 2017 study abroad experience in New Zealand
    </p>
  </li>
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157688640905024">
      <h2>One City // Many Sunsets</h2>
      <img src="/assets/img/one-city.jpg" alt="One City, Many Sunsets"/>
    </a>
    <p>
      Sunsets over the city of Minneapolis
    </p>
  </li>
  <li>
    <a
    href="https://www.flickr.com/photos/151555891@N05/albums/72157687804745111">
      <h2>2016</h2>
      <img src="/assets/img/2016.jpg" alt="2016"/>
    </a>
    <p>
      Images from the year 2016
    </p>
  </li>
</ul>
{% endblock %}

