{% extends "base.jinja" %}
{% block title %}
research
{% endblock %}

{% block body %}
<ul class="tiled-list">
  <li>
    <a
    href="https://dx.doi.org/10.1145/3488542">
      <h2>Multi-Touch Querying on Data Physicalizations in Immersive AR</h2>
      <img
      src="/assets/img/multi-touch.png"
      alt="Teaser image showing an augmented-reality visualization overlayed on top of a data physicalization of the Filchner-Ronne Ice Shelf in the Antarctic."/>
    </a>
    <p>
      New input-sensing techniques and tracking systems to support more interactivity in augmented (hybrid) data physicalizations. 2021.
    </p>
  </li>

  <li>
    <a
    href="/assets/bridger-herman-wpe.pdf">
      <h2>Rethinking Data Visualization Software Architectures</h2>
      <img
      src="/assets/img/bh-wpe.png"
      alt="Teaser image showing artist-created visualizations of
      biogeochemistry in the Gulf of Mexico"/>
    </a>
    <p>
      To Support Artistic Methodologies - PhD Preliminary Exam. 2021.
    </p>
  </li>

  <li>
    <a
    href="https://arxiv.org/pdf/2010.08859.pdf">
      <h2>ABR Design Interface</h2>
      <img
      src="/assets/img/printmaking-teaser.png"
      alt="Teaser image showing the ABR design user interface and a visualization of ice melt rates in the Antarctic"/>
    </a>
    <p>
      Artist-focused, web-based design interface for enabling creative processes in visualization using the Artifact-Based Rendering technique. 2020.
    </p>
  </li>

  <li>
    <a
    href="https://ivlab.cs.umn.edu/generated/pub-Johnson-2019-ABR.php">
      <h2>Artifact-Based Rendering (ABR)</h2>
      <img
      src="https://ivlab.cs.umn.edu/images/pubfullsize/Johnson-2019-ABR.jpg"
      alt="Teaser image showing several artist-created visualizations of
      biogeochemistry in the Gulf of Mexico"/>
    </a>
    <p>
      Harnessing Natural and Traditional Visual Media for More Expressive and Engaging 3D Visualizations. 2019.
    </p>
  </li>

  <li>
    <a
    href="https://ivlab.cs.umn.edu/generated/pub-Herman-2018-Boxcars.php">
      <h2>Boxcars on Potatoes</h2>
      <img
      src="https://ivlab.cs.umn.edu/images/pubfullsize/Herman-2018-Boxcars.png"
      alt="3D printed model with glyphs"/>
    </a>
    <p>
      Exploring the Design Language for Tangible Visualizations of Scalar Data Fields on 3D Surfaces. 2018.
    </p>
  </li>
{% endblock %}


