{% extends "base.jinja" %}
{% block title %}
research
{% endblock %}

{% block body %}
<ul class="tiled-list">
  <li>
    <a
    href="http://ivlab.cs.umn.edu/generated/pub-Johnson-2019-ABR.php">
      <h2>Artifact-Based Rendering</h2>
      <img
      src="http://ivlab.cs.umn.edu/images/pubfullsize/Johnson-2019-ABR.jpg"
      alt="Teaser image showing several artist-created visualizations of
      biogeochemistry in the Gulf of Mexico"/>
    </a>
    <p>
      Harnessing Natural and Traditional Visual Media for More Expressive and Engaging 3D Visualizations
    </p>
  </li>

  <li>
    <a
    href="http://ivlab.cs.umn.edu/generated/pub-Herman-2018-Boxcars.php">
      <h2>Boxcars on Potatoes</h2>
      <img
      src="http://ivlab.cs.umn.edu/images/pubfullsize/Herman-2018-Boxcars.png"
      alt="3D printed model with glyphs"/>
    </a>
    <p>
      Exploring the Design Language for Tangible Visualizations of Scalar Data Fields on 3D Surfaces
    </p>
  </li>
{% endblock %}


