{% extends "base.jinja" %}
{% block title %}
teaching
{% endblock %}

{% block body %}
<article>
<h2>
    Teaching Experience
</h2>

<p>
    All of my teaching experience (so far!) is at the University of Minnesota,
    Twin Cities.
</p>

<h3>Courses Taught</h3>

<ul class="tiled-list">
    <li>
        <h4>Fall 2020</h4>
        <p>
            CSCI 1133: Introduction to Computing and Programming Concepts
        </p>
    </li>
</ul>


<h3>Graduate TA Experience</h3>

<ul class="tiled-list">
    <li>
        <h4>Fall 2019</h4>
        <p>
            CSCI 4611: Programming Interactive Computer Graphics and
        </p>
    Games</li>

    <li>
        <h4>Fall 2018</h4>
        <p>
            CSCI 5619: Virtual Reality and 3D Interaction
        </p>
    </li>
</ul>


<h3>Undergraduate TA Experience</h3>
<ul class="tiled-list">
    <li>
        <h4>Fall 2015 - Spring 2018</h4>
        <p>
        CSCI 1133: Introduction to Computing and Programming Concepts
        </p>
    </li>
</ul>
</div>
{% endblock %}


